<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Language" content="ko"/>
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">

    <title>{% block title %}{% endblock %} :: ManageNginxHost</title>

    <!-- Libs CSS -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/vendor/tabler/libs/jqvmap/dist/jqvmap.min.css" rel="stylesheet">
    <link href="/static/vendor/tabler/libs/selectize/dist/css/selectize.css" rel="stylesheet">
    <link href="/static/vendor/tabler/libs/fullcalendar/core/main.min.css" rel="stylesheet">
    <link href="/static/vendor/tabler/libs/fullcalendar/daygrid/main.min.css" rel="stylesheet">
    <link href="/static/vendor/tabler/libs/fullcalendar/timegrid/main.min.css" rel="stylesheet">
    <link href="/static/vendor/tabler/libs/fullcalendar/list/main.min.css" rel="stylesheet">
    <link href="/static/vendor/tabler/libs/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <link href="/static/vendor/tabler/libs/nouislider/distribute/nouislider.min.css" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css" rel="stylesheet">

    <!-- Tabler Core -->
    <link href="/static/vendor/tabler/css/tabler.min.css" rel="stylesheet">
    <!-- Tabler Plugins -->
    <link href="/static/vendor/tabler/css/tabler-flags.min.css" rel="stylesheet">
    <link href="/static/vendor/tabler/css/tabler-payments.min.css" rel="stylesheet">
    <link href="/static/vendor/tabler/css/tabler-buttons.min.css" rel="stylesheet">
    <!-- Datatables Plugins -->
    <link href="/static/vendor/datatable/datatables.min.css" rel="stylesheet">
    <!-- Main Core -->
    <link href="/static/vendor/datatable/datatables.min.css" rel="stylesheet">
    <link href="/static/css/default.css" rel="stylesheet">

    <!-- Libs JS -->
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/vendor/tabler/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/vendor/tabler/libs/flatpickr/dist/flatpickr.min.js"></script>
    <script src="/static/vendor/tabler/libs/autosize/dist/autosize.min.js"></script>
    <script src="/static/vendor/datatable/datatables.min.js"></script>
    <script src="/static/js/default.js"></script>

    {% block head %}{% endblock %}
</head>
{% block body %}
    <body class="antialiased d-flex flex-column">
    <div class="page">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('home') }}">MANAGEMENT NGINX HOST</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('host_list') }}">HOST LIST</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
            <div class="footer footer-transparent">
                <div class="container">
                    <div class="row text-center align-items-center flex-row-reverse">
                        <div class="col-lg-auto ml-lg-auto">
                            <ul class="list-inline list-inline-dots mb-0"></ul>
                        </div>
                        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                            {% block footer %}
                                Copyright &copy; 2020
                                <a href="https://blog.duveen.me" class="link-secondary">Duveen</a>.
                                All rights reserved. Designed By
                                <a href="https://tabler.io/" class="link-secondary">Tabler</a>.
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
</html>