{% extends "base.html" %}
{% block title %}HOME{% endblock %}
{% block head %}
    <style>
        body {
            background-color: #f5f7fb;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <h1 class="card-title">HOST CONTENT</h1>
            <div class="card-options"></div>
        </div>
        <form action="{{ url_for('host_file_save', host_file=host_file) }}" method="post">
            <div class="card-body">
                <div>
                    <label class="form-label">File Content</label>
                    <textarea id="hostContent" class="form-control" title="file_content" name="host_content"
                              style="font-family: D2Coding, sans-serif; height: 60vh">{{ host_content }}</textarea>
                </div>
            </div>
            <div class="card-footer text-right">
                <button id="btnSave" class="btn btn-primary">저장</button>
                <div id="btnCancel" class="btn btn-gray">취소</div>
            </div>
        </form>
    </div>
    <script>
        $("#btnCancel").click(function () {
            history.back()
        });
    </script>
{% endblock %}