{% extends "base.html" %}
{% block title %}HOME{% endblock %}
{% block head %}
    <style>
        body {
            background-color: #f5f7fb;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="card mb-3">
        <div class="card-header">
            <h1 class="card-title">HOST LIST</h1>
            <div class="card-options">
                <a href="#" class="btn btn-primary mr-auto" tabindex="-1">ADD HOST</a>
            </div>
        </div>
        <div class="card-body border-bottom py-3 datatable-header"></div>
        <div class="table-responsive">
            <table id="hostTable" class="table card-table table-hover table-vcenter text-nowrap datatable">
                <thead>
                <tr>
                    <th class="text-center w-1">#</th>
                    <th>File Name</th>
                    <th class="text-right w-1">File Size</th>
                    <th class="text-center w-1">Last Modified</th>
                </tr>
                </thead>
                <tbody>
                {% for index in range(0, len) %}
                    <tr>
                        <td class="text-center">{{ len - index }}</td>
                        <td>{{ files[index]['name'] }}</td>
                        <td class="text-right">{{ files[index]['size'] }} Bytes</td>
                        <td class="text-center">{{ files[index]['modified'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer d-flex align-items-center datatable-footer"></div>
    </div>
    <script>
        let order = [0, "desc"];

        $("#hostTable").DataTable({
            "info": false,
            "order": [order]
        });

        modifyDataTablesLocation($(document));
    </script>
{% endblock %}